img {
    width: 200px;
    margin: auto;

}
body {
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("http://1-background.com/images/xmas/christmas-background-night-lights-seamless.jpg");
}